body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Yu Gothic';
}

header {
	background: antiquewhite;
	text-align: center;
	vertical-align: middle;
	line-height: 125px;
	height: 125px;
	font-size: 60px;
	font-weight: 600;
	font-family: "Lucida Calligraphy";
	background-color: #FFFFFF;
}

main {
	position: relative;
	overflow: hidden;
	max-height: 420px;
	width: 100%;
	margin: 0 0 40px 0;
}

.mySlides {
	display: none
}

main img {
	height: 420px;
	width: 100%;
	vertical-align: middle;
}

.image-text {
	position: absolute;
	top: 25%;
	left: 15%;
	right: 15%;
	text-align: center;
	color: #FFFFFF;
	z-index: 5;
}

.image-text h1 {
	margin-right: -4%;
	letter-spacing: 2px;
	line-height: 40pt;
	font-size: 55px;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -40px;
	color: #FFFFFF;
	font-size: 60px;
	transition: 0.3s ease;
	user-select: none;
}

.next {
	right: 12.5%;
}

.next:hover, .prev:hover {
	color:#FFC45D;
}

.prev {
	left: 12.5%;
}

.dot {
	cursor: pointer;
	position: relative;
	bottom: 50px;
	height: 15px;
	width: 15px;
	margin: 0 15px 15px 0;
	background-color: #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	z-index: 5;
}

.active, .dot:hover {
	background-color:#FFC45D;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}

.container {
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 4fr 2fr 1fr;
}

article {
	grid-column: 2/3;
}

#image {
	display:inline-grid;
}

#info {
	display:inline-grid;
	background: lavender;
}

aside { 
	grid-column: 3/4;
	margin-left: 20px;
	background-color: black;
}

.recommend {
	padding: 20px;
	background-color: #E6E6E6;
}

.bnr {
	font-weight: 500;
	line-height: 300px;
	text-align: center;
	width: 100%;
	height: 300px;
	background-color: #FFFFFF;
}

table {
	margin-top: -10px;
	font-size: 12px;
	border-spacing: 0 20px;
}

#title-news {
	margin-top: 30px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
  	border-bottom: 3px solid #000000;
}

#headline {
	margin: 0;
	margin-top: -5px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -0.5px;
	padding: 0 0 3px 5px;
}

#timestamp {
	margin: 0;
	font-size: 10px;
	color: #808080;
	padding: 0 0 0 5px;
}

.banner {
	width: 100%;
	height: 90px;
	text-align: center;
	line-height: 85px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #737373;
}

footer {
	background: lightpink;
}