doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Japanese Webpage
		link(rel="stylesheet" type="text/css" href="../css/app.css")
	body
		header Website Logo
		main
			- for(var i = 1; i <= 3; i++)
				.mySlides.fade
					img(src="../img/slide" + i + ".jpg")
			a.prev(onclick="plusSlides(-1)") &#10094;
			a.next(onclick="plusSlides(1)") &#10095;
			div(style="text-align:center")
				- for(var i = 1; i <= 3; i++)
					span.dot(onclick="currentSlide(" + i + ")")
			.image-text
				h1 キャッチコピーが入ります。
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト<br>サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
		.container
			article
				table
					- for(var i = 0; i < 10; i++)
						tr(onmouseover="replaceImage("+ i +")" onmouseout="revertImage("+ i +")")
							td(rowspan="3")#article-img
								img.before(src="../img/ph_article.jpg" height="115" width="200")
								img.after(src="../img/ph_article1.jpg" height="115" width="200")
							td.timestamp 2016.03.26
						tr(onmouseover="replaceImage("+ i +")" onmouseout="revertImage("+ i +")")
							td.headline サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
						tr(onmouseover="replaceImage("+ i +")" onmouseout="revertImage("+ i +")")
							td.description サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト···
				.more More
					a.arrow &#10095;
			aside 
				.recommend
					.bnr Dummy Banner
					table
						tr
							td(colspan="2")
								#title-news Recommend
						- for(var i = 1; i <= 3; i++)
							tr
								td
									img(src="../img/ph_article.jpg" height="60" width="110")
								td
									p#headline サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
									p#timestamp 2016.03.26
						- for(var i = 1; i <= 3; i++)
							tr
								td(colspan="2")
									.banner Dummy Banner
		footer 
			.container 
				div.kanji
					p 運営会社
					p 個人情報保護について
				div.copyright ©2016 Sample
	script(type="text/javascript" src="../js/app.js")